@import url(./__email/newsletter__email.css);
@import url(./__head/newsletter__head.css);
@import url(./__name/newsletter__name.css);
@import url(./__subtitle/newsletter__subtitle.css);
@import url(./_place/newsletter_place_column-side.css);
@import url(./_place/newsletter_place_footer.css);
@import url(./__name/_margin/newsletter__name_margin_top.css);

.newsletter {
    display: flex;
    flex-direction: column; 
}