@import url(./__annotation/row-post__annotation.css);
@import url(./__link/row-post__link.css);
@import url(./__pic/row-post__pic.css);
@import url(./__subtitle/row-post__subtitle.css);
@import url(./__title/row-post__title.css);

.row-post {
    width: 295px;
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}

