.big-button_place_bloger-annotation {
    text-decoration: none;
    margin: 0;
    text-align: center;
}

.big-button_place_bloger-annotation:hover {
    border: 2px solid #4A90E2;
    margin: -2px;
}