.newsletter__email {
margin: 10px 0 10px 0; 
min-height: 50px;
background: #FFFFFF;
border: 1px solid #E5E5E5;
box-sizing: border-box;
border-radius: 3px;        
}

.newsletter__email::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #AEB3BB;
    padding-left: 15px;
}